<%- include('navbar') %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example with PHP</title>

    <link rel="stylesheet" href="css/userLogin/digitalMarketing.css">

 
</head>
<body>
 
<div class="searchbox">
    
   
    <p id="searchbox-slogan"  >
    <span style="font-size:50px; font-weight: bold; "> 
       Digital Marketing
    </span> <br>

      <span style="font-size: 20px">Build your brand. Grow your business.</span>
    </p>
    
  </div> 
  <h2 id="expHeading">Explore Digital Marketing</h2>
  <div  class="explore">

<ul class="search">
  <img src="/images/search.jpg" alt="Search" width="250" height="150" style="border-radius: 15px;">


  <h2>Search</h2>
  <li>Search Engine Optimization (SEO)</li>
  <li>Search Engine Marketing (SEM)</li>
  <li>Local SEO</li>
  <li>E-Commerce SEO</li>
  <li>Video SEO</li>
</ul>

<ul class="social">

<img src="/images/social.jpg" alt="Search" width="250" height="150" style="border-radius: 15px;">
  <h2>Social</h2>
  <li>Paid Social Media</li>
  <li>Social Media Marketing</li>
  <li>Social Commerce</li>
  <li>Influencer Marketing</li>
  <li>Community Management</li>
</ul>

<ul class="art">

<img src="/images/methods.png" alt="Search" width="250" height="150" style="border-radius: 15px;">
  <h2>Methods & Techniques</h2>
  <li>Video Markeiting</li>
  <li>E-Commerce Marketing</li>
  <li>Email Marketing</li>
  <li>Email Automations</li>
  <li>Guest Posting</li>
</ul>

<ul class="archtitecture">

<img src="/images/analytics.jpeg" alt="Search" width="250" height="150" style="border-radius: 15px;">
  <h2>Analytics & Strategy</h2>
  <li>Brand Strategy</li>
  <li>Digital Marketing Strategy</li>
  <li>UGC Strategy</li>
  <li>Marketing Concepts & Ideation</li>
  <li>Marketing Advice</li>
</ul>


</div>

    
</body>
</html>