<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Settings</title>
  <link rel="stylesheet" href="css/userLogin/hiredHistory.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <div class="profile-pic">
        <img src="<%= user.profileImage %>" alt="Profile Picture">
      </div>
      <ul>
       
        <li><a href="accountSetting" >Account Details</a></li>
        <li><a href="hiredHistory" class="active">Hired History </a></li>
        <li><a href="changePassword">Change Password</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
      
    </div>
    <div class="main-content">
      <a href="userDashboard"><button id="backToIndex" class="back-button">← Back</button></a><br>
      <h1>Hired History </h1>
    
      <div class="hired-list">
        <% hiredFreelancers.forEach(function(freelancer) { %>
          <div class="hired-item">
            <span>You have hired  <%= freelancerUsername%> </span>
          </div>
        <% }); %>
      </div>
      
      </div>
  </div>
</body>
</html>