<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment</title>
  <link rel="stylesheet" href="/css/userLogin/payment.css">
</head>
<body>
    <%- include('navbar') %> 
    <div class="container">
      
        <!-- Header section with MetaMask logo and description -->
        <div class="header">
          <div class="logo-container">
            <img src="/images/metamask.jpg" alt="MetaMask Logo" class="metamask-logo">
            <h2>MetaMask</h2>
          </div>
          <p class="note">
            Make sure you agree with our <a href="#">Terms & Conditions</a> before proceeding with any transaction.
          </p>
        </div>

    <!-- Payment form section -->
    <div class="payment-box">
      <h2>Send Payment</h2>
      <form id="payment-form">
        <label for="recipient">Recipient Address:</label>
        <input type="text" id="recipient" name="recipient" value="<%= professionalInfo.wallet %>" readonly>
      
        <label for="amount">Amount (ETH):</label>
        <input type="number" id="amount" name="amount" value="<%= job.hourlyRate %>" readonly>
        <input type="text" id="hiredId" name="hiredId"  value="<%= hired._id.toString() %>" readonly >
        <button type="submit" id="pay-button">Pay</button>
      </form>
      
    </div>
  </div>

  <script>
    console.log('JavaScript Loaded');
  </script>
  

  <script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>
  <script src="/js/payment.js"></script>
</body>
</html>
