<%- include('navbar') %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example with PHP</title>
    <link rel="stylesheet" href="css/userLogin/video&Animation.css">
   
</head>
<body>
 
<div class="searchbox">
    
   
    <p id="searchbox-slogan"  >
    <span style="font-size:50px; font-weight: bold; "> 
       Video & Animation 
    </span> <br>

      <span style="font-size: 20px">Bring your story to life with creative videos.</span>
    </p>
    
   

  </div> 
   
    
</body>
</html>