    /* Container styling */
    .hero-section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 40px;
      background-color:rgb(38, 41, 97);
  }
  .hero-content {
      flex: 1;
      max-width: 50%;
  }
  
  .hero-content h1 {
      font-size: 55px;
      font-weight: bold;
      color: rgb(243, 149, 179);
      margin-bottom: 20px;
      
  }
  
  .hero-content p {
      font-size: 18px;
      line-height: 1.6;
      color: rgb(236, 217, 217);
      margin-bottom: 20px;
  }
  
  .get-started-button {
      width: 50%;
      height: 60px;
      padding: 10px 20px;
      background-color: rgb(177, 24, 72);
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      text-align: center;
  }
  
  .get-started-button:hover {
      background-color:rgb(188, 76, 112);
  }
  
  /* Image styling */
  .hero-image {
      flex: 1;
      max-width: 50%;
  }
  
  .hero-image img {
      margin-top: 100px;
      width: 100%;
      border-radius: 19px;
      object-fit: cover;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
       
          .features{
              margin-top: 10px;
              font-family: Arial, sans-serif;
              font-size: 1.2rem;
          }
  
          .features ul
           {
              margin-left: 20px;
              list-style-type: none; /* Removes bullet points */
              gap: 20px; /* Adds space between items */
              flex-wrap: nowrap; /* Prevents items from wrapping to the next line */
              display: flex;
              border-bottom: 3px solid #e5e5e5;
          }
  
          .features li {
              margin-bottom: 8px; /* Adds space between list items */
              border: 1px solid black;
              width: 120px;
              height: 70px;
              border-radius: 8px; 
  
              display: flex; /* Make each list item a flex container */
              justify-content: center; /* Horizontally center the content */
              align-items: center; /* Vertically center the content */
              padding: 10px 20px; /* Add padding inside the list item */
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              
          }
  
          .features li:hover {
            background-color:rgb(157, 168, 242);
            border: none;
          }
  
          .features #gd{
              background-color:rgb(66, 233, 69);
          }
          .features #pt{
              background-color:rgb(122, 75, 121);
          }
          .features #dm{
              background-color:rgb(216, 143, 70);
              
          }
          .features #va{
              background-color:rgb(142, 69, 127);
          }
          .features #wt{
              background-color:rgb(178, 213, 39);
          }
          .features #ma{
              background-color:rgb(68, 146, 164);
          }