.hero-section{
    background-color: rgb(38, 41, 97);
    text-align: justify;
    padding: 50px;
    height: 120px;
    /* justify-content: left; */
}
.container{
    display: flex;
    max-width: 1200px;
   margin-left: 30px;
   color:whitesmoke;
   align-items: center;
   justify-content: center;
}
.container h1{
    font-size: 3.5rem;
    margin-bottom: 15px;
}