/* General Styles */
body {
  font-family:  'Roboto',  sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  text-align: center;
  padding: 50px ;
}

h1 {
  font-size: 3rem;
  color: #007bff;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Hero Section */
.hero-section {
  background: rgb(38, 41, 97);
  color: white;
  padding: 60px ;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.searchinput {
  padding: 12px;
  width: 300px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
}

.search {
  background-color: white;
  border: none;
  padding: 12px;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.searchicon {
  width: 20px;
  height: 20px;
}

/* Popular Services */
.popular-services {
  padding: 50px 20px;
  text-align: center;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}

.service-card {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: scale(1.05);
}

/* Ready Section */
.ready {
  text-align: center;
  background:rgb(38, 41, 97);
  color: white;
  padding: 50px 20px;
}

.ready .btn {
  background-color: white;
  color: rgb(38, 41, 97);
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.ready .btn:hover {
  background-color: rgb(188, 76, 112);
  color: white;
}
