<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set Up Professional Info</title>
  <link rel="stylesheet" href="css/freelancerLogin/accountSetting.css">
</head>
<body>

  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="profile-pic">
       
        <img src="<%= user.profileImage %>" alt="Profile Picture">
      </div>
      <ul>
        <li><a href="accountSetting" class="active">Account Details</a></li>
        <li><a href="changePassword">Change Password</a></li>
        <li><a href="addJob">Post a Job</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <h1>Set Up Professional Info</h1>
      
      <!-- Professional Info Form -->
      <form action="/setProfessionalInfo" method="POST">
        <div class="info-list">
          <label for="skills">Skills:</label>
          <input type="text" id="skills" name="skills" placeholder="Enter your skills" required>

          <label for="language">Language:</label>
          <input type="text" id="language" name="language" placeholder="Language you are faimiliar with" required>

          <label for="education">Education:</label>
          <input type="text" id="education" name="education" placeholder="Enter your education" required>

          <label for="certifications">Certifications & Training:</label>
          <input type="text" id="certifications" name="certifications" placeholder="Enter your certifications" required>

          <label for="portfolio">Portfolio:</label>
          <input type="text" id="portfolio" name="portfolio" placeholder="Enter your portfolio link" required>

          <label for="website">Website:</label>
          <input type="text" id="website" name="website" placeholder="Enter your website link" required>

          <label for="linkedIn">LinkedIn/Profile Links:</label>
          <input type="text" id="linkedIn" name="linkedIn" placeholder="Enter your LinkedIn URL" required>
        </div>

        <!-- Submit Button -->
        <button type="submit">Save Professional Info</button>
      </form>
    </div>
  </div>

  <script src="js/tabs.js"></script>
  <script src="js/editProfessionalInfo.js"></script>

</body>
</html>
