<link rel="stylesheet" href="css/beforeLogin/aboutUs.css">
<!-- Header -->
<%- include('header') %> 
<section class="hero-section">
    <div class="container">
        <h1>About Kaaj</h1>
    </div>
</section>
<!-- Footer -->
<%- include('footer') %> 