<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kaaj - Freelancing Made Easy</title>
  <link rel="stylesheet" href="css/beforeLogin/dashboard.css">
  </head>
  <body>
    <header class="header-navbar">
      <nav class="navbar">
        <div class="logo">
          <a href="">
            <img src="/images/kaaj-logo.png" alt="kaaj logo" class="logo-icon">
          </a>
        </div>
        <ul class="nav-links">
          <li>
            <a href="index.php">Home</a>
          </li>
          <li class="dropdown">
            <a href="#">Explore</a>
            <ul class="dropdown-menu">
              <li><a href="event">Event</a></li>
              <li><a href="guide">Guide</a></li>
              <li><a href="blog">Blog</a></li>
            </ul>
          </li>
          <li>
            <a href="about">About Us</a>
          </li>
        </ul>
        <div class="authentication">
          <li>
            <a href="login">Login</a>
          </li>
          <li>
            <a href="signup">Sign Up</a>
          </li>
        </div>
      </nav>
    </header>
    <section class="hero-section">
      <div class="container">
        <h1>Kaaj</h1>
        <h2>Freelancing Made Easy!</h2>
        <p>Hire An Expert Or Be An Expert.</p>
        <p>In The Ever-Evolving Landscape of Skills and Knowledge, The Choice Between Hiring An Expert Or Becoming One Yourself is Pure Decon.</p>
      </div>
      <div class="search-container">
        <input type="text" class="searchinput" placeholder="Search for any service...">
        <button class="search">
          <img src="search.png" alt="search icon" class="searchicon">
        </button>
      </div>
    </section>
    <section class="popular-services">
      <div class="s-container">
        <div class="title">
          <h2>Most Popular Services</h2>
        </div>
        <div class="service-container">
          <!-- 1st Service -->
          <div class="service-card" style=" background-image: url('images/web-dev.png');">
            <h3>WEB DEVELOPMENT</h3>
          </div>
          <!-- 2nd Service -->
          <div class="service-card" style="background-image:url('images/logo-dev.png');">
            <h3>LOGO DESIGN</h3>
          </div>
          <!-- 3rd Service -->
          <div class="service-card" style="background-image:url('images/SEO.png');">
            <h3>SEO</h3>
          </div>
          <!-- 4th Service -->
          <div class="service-card" style="background-image:url('images/video-editing.png');">
            <h3>VIDEO EDITING</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="ready">
      <div class="content">
        <h2>Ready to Get Started?</h2>
        <p>Sign up or Login to Explore Various Features that our Sellers & Freelancers Experience.</p>
        <a href="register">
          <button class="btn">Get Started it's Free</button>
        </a>
      </div>
    </section>
    <%- include('footer') %> 
    </body>
    </html>
  
   